.gen p,
.gen h1,
.gen h2,
.gen h3,
.gen h4 {
	font: inherit;
	font-size: 100%;
	line-height: 1.3em;
	text-transform: none;
	vertical-align: baseline;
	border: 0;
	color: inherit;
	margin: 0;
	padding: 0;
}

.gen h1 {
	font-size: 2em;
}

.gen h2 {
	font-size: 1.5em;
}

.gen h3 {
	font-size: 1.17em;
}

.gen h4 {
	font-size: 1em;
}

.gen h5 {
	font-size: 0.83em;
}

.gen h6 {
	font-size: 0.75em;
}
