<!-- IF S_NAVBAR_HEADER_QUICK_LINKS_BEFORE -->
	<!-- BEGIN navbar_header_quick_links_before_links -->
		<li <!-- IF not navbar_header_quick_links_before_links.ICON_FONT -->class="small-icon icon-pages icon-page-{navbar_header_quick_links_before_links.LINK_ROUTE}"<!-- IF navbar_header_quick_links_before_links.ICON_LINK --> style="background-image: url('{T_THEME_PATH}/images/{navbar_header_quick_links_before_links.ICON_LINK}');"<!-- ENDIF --><!-- ENDIF -->>
			<a href="{navbar_header_quick_links_before_links.U_LINK_URL}" role="menuitem">
				<!-- IF navbar_header_quick_links_before_links.ICON_FONT --><i class="icon fa-{navbar_header_quick_links_before_links.ICON_FONT} fa-fw" aria-hidden="true"></i><!-- ENDIF --><span>{navbar_header_quick_links_before_links.LINK_TITLE}</span>
			</a>
		</li>
	<!-- END navbar_header_quick_links_before_links -->
<!-- ENDIF -->
