<!-- IF S_NAVBAR_HEADER_QUICK_LINKS_AFTER -->
	<!-- BEGIN navbar_header_quick_links_after_links -->
		<li class="small-icon icon-pages icon-page-{navbar_header_quick_links_after_links.LINK_ROUTE}"<!-- IF navbar_header_quick_links_after_links.ICON_LINK --> style="background-image: url('{T_THEME_PATH}/images/{navbar_header_quick_links_after_links.ICON_LINK}');"<!-- ENDIF -->>
			<a href="{navbar_header_quick_links_after_links.U_LINK_URL}" role="menuitem">{navbar_header_quick_links_after_links.LINK_TITLE}</a>
		</li>
	<!-- END navbar_header_quick_links_after_links -->
<!-- ENDIF -->
