<!-- IF S_OVERALL_HEADER_NAVIGATION_PREPEND -->
	<!-- BEGIN overall_header_navigation_prepend_links -->
		<li class="small-icon icon-pages icon-page-{overall_header_navigation_prepend_links.LINK_ROUTE} no-bulletin"<!-- IF overall_header_navigation_prepend_links.ICON_LINK --> style="background-image: url('{T_THEME_PATH}/images/{overall_header_navigation_prepend_links.ICON_LINK}');"<!-- ENDIF -->>
			<a href="{overall_header_navigation_prepend_links.U_LINK_URL}" title="{overall_header_navigation_prepend_links.LINK_TITLE}" role="menuitem">{overall_header_navigation_prepend_links.LINK_TITLE}</a>
		</li>
	<!-- END overall_header_navigation_prepend_links -->
<!-- ENDIF -->
