{% if S_OVERALL_HEADER_NAVIGATION_APPEND %}
	{% for link in overall_header_navigation_append_links %}
		<li {% if not link.ICON_FONT %}class="small-icon icon-pages icon-page-{{ link.LINK_ROUTE }} no-bulletin"{% if link.ICON_LINK %} style="background-image:url('{{ T_THEME_PATH }}/images/{{ link.ICON_LINK }}');"{% endif %}{% endif %}>
			<a href="{{ link.U_LINK_URL }}" title="{{ link.LINK_TITLE }}" role="menuitem">
				{% if link.ICON_FONT %}<i class="icon fa-{{ link.ICON_FONT }} fa-fw" aria-hidden="true"></i>{% endif %}<span>{{ link.LINK_TITLE }}</span>
			</a>
		</li>
	{% endfor %}
{% endif %}
