<!-- IF S_OVERALL_HEADER_BREADCRUMBS_BEFORE -->
	<!-- BEGIN overall_header_breadcrumbs_before_links -->
		<li class="small-icon icon-pages icon-page-{overall_header_breadcrumbs_before_links.LINK_ROUTE} breadcrumbs"<!-- IF overall_header_breadcrumbs_before_links.ICON_LINK --> style="background-image: url('{T_THEME_PATH}/images/{overall_header_breadcrumbs_before_links.ICON_LINK}');"<!-- ENDIF -->>
			<span class="crumb"><a href="{overall_header_breadcrumbs_before_links.U_LINK_URL}">{overall_header_breadcrumbs_before_links.LINK_TITLE}</a></span>
		</li>
	<!-- END overall_header_breadcrumbs_before_links -->
<!-- ENDIF -->
