{# Note: we must use the after code so the link will appear in the expected location #}
<!-- IF S_OVERALL_FOOTER_TIMEZONE_AFTER -->
	<!-- BEGIN overall_footer_timezone_after_links -->
		<li <!-- IF not overall_footer_timezone_after_links.ICON_FONT -->class="small-icon icon-pages icon-page-{overall_footer_timezone_before_links.LINK_ROUTE} rightside"<!-- IF overall_footer_timezone_after_links.ICON_LINK --> style="background-image: url('{T_THEME_PATH}/images/{overall_footer_timezone_after_links.ICON_LINK}');"<!-- ENDIF --><!-- ELSE -->class="rightside"<!-- ENDIF -->>
			<a href="{overall_footer_timezone_after_links.U_LINK_URL}" role="menuitem">
				<!-- IF overall_footer_timezone_after_links.ICON_FONT --><i class="icon fa-{overall_footer_timezone_after_links.ICON_FONT} fa-fw" aria-hidden="true"></i><!-- ENDIF --><span>{overall_footer_timezone_after_links.LINK_TITLE}</span>
			</a>
		</li>
	<!-- END overall_footer_timezone_after_links -->
<!-- ENDIF -->
