{# Note: we must use the before code so the link will appear in the expected location #}
<!-- IF S_OVERALL_FOOTER_TEAMLINK_BEFORE -->
	<!-- BEGIN overall_footer_teamlink_before_links -->
		<li class="small-icon icon-pages icon-page-{overall_footer_teamlink_before_links.LINK_ROUTE} rightside"<!-- IF overall_footer_teamlink_before_links.ICON_LINK --> style="background-image: url('{T_THEME_PATH}/images/{overall_footer_teamlink_before_links.ICON_LINK}');"<!-- ENDIF -->>
			<a href="{overall_footer_teamlink_before_links.U_LINK_URL}" role="menuitem">{overall_footer_teamlink_before_links.LINK_TITLE}</a>
		</li>
	<!-- END overall_footer_teamlink_before_links -->
<!-- ENDIF -->
