{% include 'overall_header.html' %}

<a id="maincontent"></a>

{% if S_ADD_PAGE or S_EDIT_PAGE %}

	{% INCLUDEJS '@phpbb_pages/scripts.js' %}

	<script>
		var form_name = 'add_edit_page';
		var text_name = 'page_content';
		var load_draft = false;
		var upload = false;
		var imageTag = false;
	</script>

	<a href="{{ U_BACK }}" style="float: {{ S_CONTENT_FLOW_END }};">&laquo; {{ lang('BACK') }}</a>

	{% if S_ADD_PAGE %}
		<h1>{{ lang('ACP_PAGES_CREATE_PAGE') }}</h1>

		<p>{{ lang('ACP_PAGES_CREATE_PAGE_EXPLAIN') }}</p>
	{% else %}
		<h1>{{ lang('ACP_PAGES_EDIT_PAGE') }} :: {{ PAGES_TITLE }}</h1>

		<p>{{ lang('ACP_PAGES_EDIT_PAGE_EXPLAIN') }}</p>
	{% endif %}

	{% if S_ERROR %}
		<div class="errorbox">
			<h3>{{ lang('WARNING') }}</h3>
			<p>{{ ERROR_MSG }}</p>
		</div>
	{% endif %}

	<form id="add_edit_page" method="post" action="{{ U_ACTION }}">
		<fieldset>
			<legend>{{ lang('ACP_PAGES_SETTINGS') }}</legend>
			{% if S_EDIT_PAGE %}
				<dl>
					<dt><label>{{ lang('ACP_PAGES_FORM_VIEW_PAGE') ~ lang('COLON') }}</label></dt>
					<dd><a href="{{ U_VIEW_PAGE }}">{{ lang('ACP_PAGES_VIEW') }}</a></dd>
				</dl>
			{% endif %}
			<dl>
				<dt><label for="page_title">{{ lang('ACP_PAGES_FORM_TITLE') ~ lang('COLON') }}</label><br /><span>{{ lang('ACP_PAGES_FORM_TITLE_EXPLAIN') }}</span></dt>
				<dd><input class="text medium" type="text" id="page_title" name="page_title" value="{{ PAGES_TITLE }}" maxlength="200" /></dd>
			</dl>
			<dl>
				<dt><label for="page_description">{{ lang('ACP_PAGES_FORM_DESC') ~ lang('COLON') }}</label><br /><span>{{ lang('ACP_PAGES_FORM_DESC_EXPLAIN') }}</span></dt>
				<dd><input class="text medium" type="text" id="page_description" name="page_description" value="{{ PAGES_DESCRIPTION }}" maxlength="255" /></dd>
			</dl>
			<dl>
				<dt><label for="page_route">{{ lang('ACP_PAGES_FORM_ROUTE') ~ lang('COLON') }}</label><br /><span>{{ lang('ACP_PAGES_FORM_ROUTE_EXPLAIN') }}</span></dt>
				<dd><input class="text medium" type="text" id="page_route" name="page_route" value="{{ PAGES_ROUTE }}" maxlength="200" /></dd>
			</dl>
		</fieldset>
		<fieldset>
			<legend>{{ lang('ACP_PAGES_FORM_CONTENT') }}</legend>
			{% if S_REPLACE_PAGES_EDITOR %}
				{% EVENT phpbb_pages_acp_before_editor %}
			{% else %}
				<p>{{ lang('ACP_PAGES_FORM_CONTENT_EXPLAIN') }}</p>
				{% include 'acp_posting_buttons.html' %}
				<dl class="responsive-columns">
					<dt style="width: 90px;" id="color_palette_placeholder" data-orientation="v" data-color-palette="v" data-height="12" data-width="15" data-bbcode="true"></dt>
					<dd style="margin-{{ S_CONTENT_FLOW_BEGIN }}: 90px;">
						<textarea name="page_content" rows="25" cols="60" style="width: 95%;" onselect="storeCaret(this);" onclick="storeCaret(this);" onkeyup="storeCaret(this);" onfocus="initInsertions();" data-bbcode="true">{{ PAGES_CONTENT }}</textarea>
					</dd>
					<dd style="margin-{{ S_CONTENT_FLOW_BEGIN }}: 90px; margin-top: 5px;">
						<label><input type="checkbox" class="radio html-off" name="parse_bbcode"{% if S_PARSE_BBCODE_CHECKED %} checked="checked"{% endif %} /> {{ lang('PARSE_BBCODE') }}</label>
						<label><input type="checkbox" class="radio html-off" name="parse_smilies"{% if S_PARSE_SMILIES_CHECKED %} checked="checked"{% endif %} /> {{ lang('PARSE_SMILIES') }}</label>
						<label><input type="checkbox" class="radio html-off" name="parse_magic_url"{% if S_PARSE_MAGIC_URL_CHECKED %} checked="checked"{% endif %} /> {{ lang('PARSE_URLS') }}</label>
						<label><input type="checkbox" class="radio html-on" name="parse_html"{% if S_PARSE_HTML_CHECKED %} checked="checked"{% endif %} /> {{ lang('PARSE_HTML') }}</label>
					</dd>
					<dd style="margin-{{ S_CONTENT_FLOW_BEGIN }}: 90px; margin-top: 10px;"><strong>{{ lang('OPTIONS') ~ lang('COLON') }} </strong>{{ BBCODE_STATUS }} :: {{ IMG_STATUS }} :: {{ FLASH_STATUS }} :: {{ URL_STATUS }} :: {{ SMILIES_STATUS }}</dd>
				</dl>
			{% endif %}
		</fieldset>
		<fieldset>
			<legend>{{ lang('ACP_PAGES_OPTIONS') }}</legend>
			<dl>
				<dt><label for="page_template">{{ lang('ACP_PAGES_FORM_TEMPLATE') ~ lang('COLON') }}</label><br /><span>{{ lang('ACP_PAGES_FORM_TEMPLATE_EXPLAIN') }}</span></dt>
				<dd><select name="page_template" id="page_template">
					<option value="">{{ lang('ACP_PAGES_FORM_TEMPLATE_SELECT') }}</option>
					{% for option in page_template_options %}
						<option value="{{ option.VALUE }}"{% if option.S_SELECTED %} selected="selected"{% endif %}>{{ option.VALUE }}</option>
					{% endfor %}
				</select></dd>
			</dl>
			<dl>
				<dt><label for="page_order">{{ lang('ACP_PAGES_FORM_ORDER') ~ lang('COLON') }}</label><br /><span>{{ lang('ACP_PAGES_FORM_ORDER_EXPLAIN') }}</span></dt>
				<dd><input type="number" id="page_order" min="0" max="999999" name="page_order" value="{{ PAGES_ORDER }}" /></dd>
			</dl>
			<dl>
				<dt><label for="page_links">{{ lang('ACP_PAGES_FORM_LINKS') ~ lang('COLON') }}</label><br /><span>{{ lang('ACP_PAGES_FORM_LINKS_EXPLAIN') }}</span></dt>
				<dd><select name="page_links[]" id="page_links" size="10" multiple="multiple">
					{% for option in page_link_options %}
						<option value="{{ option.VALUE }}"{% if option.S_SELECTED %} selected="selected"{% endif %}>{{ option.LABEL }}</option>
					{% endfor %}
				</select></dd>
			</dl>
			<dl>
				<dt><label for="page_icon_font">{{ lang('ACP_PAGES_FORM_ICON_FONT') ~ lang('COLON') }}</label><br /><span>{{ lang('ACP_PAGES_FORM_ICON_FONT_EXPLAIN', U_FONTAWESOME_ICONS) }}</span></dt>
				<dd><input name="page_icon_font" id="page_icon_font" type="text" size="15" maxlength="255" value="{{ PAGES_ICON_FONT }}" placeholder="files-o" /> <i style="font-size:14px" class="icon fa-{{ PAGES_ICON_FONT }}"></i></dd>
			</dl>
			<dl>
				<dt><label for="page_display">{{ lang('ACP_PAGES_FORM_DISPLAY') ~ lang('COLON') }}</label><br /><span>{{ lang('ACP_PAGES_FORM_DISPLAY_EXPLAIN') }}</span></dt>
				<dd><label><input type="radio" class="radio" id="page_display" name="page_display" value="1"{% if S_PAGES_DISPLAY %} checked="checked"{% endif %} /> {{ lang('YES') }}</label>
					<label><input type="radio" class="radio" name="page_display" value="0"{% if not S_PAGES_DISPLAY %} checked="checked"{% endif %} /> {{ lang('NO') }}</label></dd>
			</dl>
			<dl>
				<dt><label for="page_guest_display">{{ lang('ACP_PAGES_FORM_GUESTS') ~ lang('COLON') }}</label><br /><span>{{ lang('ACP_PAGES_FORM_GUESTS_EXPLAIN') }}</span></dt>
				<dd><label><input type="radio" class="radio" id="page_guest_display" name="page_guest_display" value="1"{% if S_PAGES_GUEST_DISPLAY %} checked="checked"{% endif %} /> {{ lang('YES') }}</label>
					<label><input type="radio" class="radio" name="page_guest_display" value="0"{% if not S_PAGES_GUEST_DISPLAY %} checked="checked"{% endif %} /> {{ lang('NO') }}</label></dd>
			</dl>
			<dl>
				<dt><label for="page_title_switch">{{ lang('ACP_PAGES_TITLE_SWITCH') ~ lang('COLON') }}</label><br /><span>{{ lang('ACP_PAGES_TITLE_SWITCH_EXPLAIN') }}</span></dt>
				<dd><label><input type="radio" class="radio" id="page_title_switch" name="page_title_switch" value="1"{% if S_PAGES_TITLE_SWITCH %} checked="checked"{% endif %} /> {{ lang('YES') }}</label>
					<label><input type="radio" class="radio" name="page_title_switch" value="0"{% if not S_PAGES_TITLE_SWITCH %} checked="checked"{% endif %} /> {{ lang('NO') }}</label></dd>
			</dl>
		</fieldset>
		<fieldset class="submit-buttons">
			<input class="button1" type="submit" id="submit" name="submit" value="{{ lang('SUBMIT') }}" />&nbsp;
			<input class="button2" type="reset" id="reset" name="reset" value="{{ lang('RESET') }}" />
			{{ S_FORM_TOKEN }}
		</fieldset>
	</form>

{% else %}

	<h1>{{ lang('ACP_PAGES_MANAGE') }}</h1>

	<p>{{ lang('ACP_PAGES_MANAGE_EXPLAIN') }}</p>

	<form id="pages_purge_icons" method="post" action="{{ U_ACTION }}">
		<fieldset>
			<legend>{{ lang('GENERAL_OPTIONS') }}</legend>
			<dl>
				<dt><label for="action_purge_icon_cache">{{ lang('ACP_PAGES_PURGE_ICONS_LABEL') }}</label><br /><span>{{ lang('ACP_PAGES_PURGE_ICONS_EXPLAIN') }}</span></dt>
				<dd><input class="button2" type="submit" id="action_purge_icon_cache" name="action_purge_icon_cache" value="{{ lang('ACP_PAGES_PURGE_ICONS') }}" /></dd>
			</dl>
			<input type="hidden" name="action" value="purge_icons" />
		</fieldset>
	</form>

	<table class="table1 zebra-table fixed-width-table">
		<thead>
			<tr>
				<th style="width: 15%;">{{ lang('ACP_PAGES_TITLE') }}</th>
				<th style="width: 15%;">{{ lang('ACP_PAGES_DESCRIPTION') }}</th>
				<th style="width: 10%;">{{ lang('ACP_PAGES_ROUTE') }}</th>
				<th style="width: 15%;">{{ lang('ACP_PAGES_TEMPLATE') }}</th>
				<th style="width: 10%;">{{ lang('ACP_PAGES_ORDER') }}</th>
				<th style="width: 15%;">{{ lang('ACP_PAGES_STATUS') }}</th>
				<th style="width: 10%;">{{ lang('ACP_PAGES_LINK') }}</th>
				<th style="width: 10%;">{{ lang('ACTION') }}</th>
			</tr>
		</thead>
		<tbody>
			{% for page in pages %}
				<tr>
					<td><strong>{{ page.PAGES_TITLE }}</strong></td>
					<td>{{ page.PAGES_DESCRIPTION }}</td>
					<td>{{ page.PAGES_ROUTE }}</td>
					<td>{{ page.PAGES_TEMPLATE }}</td>
					<td>{{ page.PAGES_ORDER }}</td>
					<td>
						{% if page.S_PAGES_DISPLAY and page.S_PAGES_GUEST_DISPLAY %}
							{{ lang('ACP_PAGES_PUBLISHED') }}
						{% elseif page.S_PAGES_DISPLAY %}
							{{ lang('ACP_PAGES_PUBLISHED_NO_GUEST') }}
						{% else %}
							{{ lang('ACP_PAGES_PRIVATE') }}
						{% endif %}
					</td>
					<td><a href="{{ page.U_PAGES_ROUTE }}">{{ lang('ACP_PAGES_VIEW') }}</a></td>
					<td><a href="{{ page.U_EDIT }}">{{ ICON_EDIT }}</a> <a href="{{ page.U_DELETE }}" data-ajax="row_delete">{{ ICON_DELETE }}</a></td>
				</tr>
			{% else %}
				<tr>
					<td colspan="8" style="text-align: center;">{{ lang('ACP_PAGES_EMPTY') }}</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>

	<form id="pages_add_page" method="post" action="{{ U_ACTION }}">
		<fieldset class="quick">
			<input class="button2" type="submit" name="addpage" value="{{ lang('ACP_PAGES_CREATE_PAGE') }}" />
			<input type="hidden" name="action" value="add" />
			{{ S_FORM_TOKEN }}
		</fieldset>
	</form>

{% endif %}

{% include 'overall_footer.html' %}
