{# Note: we are using the append code so the link will appear in a fashion consistent with prosilver #}
<!-- IF S_OVERALL_HEADER_NAVIGATION_APPEND -->
	<!-- BEGIN overall_header_navigation_append_links -->
		<a href="{overall_header_navigation_append_links.U_LINK_URL}"><img src="<!-- IF overall_header_navigation_append_links.ICON_LINK -->{T_THEME_PATH}/images/{overall_header_navigation_append_links.ICON_LINK}<!-- ELSE -->{T_THEME_PATH}/images/icon_mini_message.gif<!-- ENDIF -->" width="12" height="13" alt="*" /> {overall_header_navigation_append_links.LINK_TITLE}</a>&nbsp; &nbsp;
	<!-- END overall_header_navigation_append_links -->
<!-- ENDIF -->
