{# Note: we are using the prepend code so the link will appear in a fashion consistent with prosilver #}
<!-- IF S_OVERALL_HEADER_NAVIGATION_PREPEND -->
	<!-- BEGIN overall_header_navigation_prepend_links -->
		&nbsp; &nbsp;<a href="{overall_header_navigation_prepend_links.U_LINK_URL}"><img src="<!-- IF overall_header_navigation_prepend_links.ICON_LINK -->{T_THEME_PATH}/images/{overall_header_navigation_prepend_links.ICON_LINK}<!-- ELSE -->{T_THEME_PATH}/images/icon_mini_message.gif<!-- ENDIF -->" width="12" height="13" alt="*" /> {overall_header_navigation_prepend_links.LINK_TITLE}</a>
	<!-- END overall_header_navigation_prepend_links -->
<!-- ENDIF -->
