{# Use the space below to include external CSS and JS files
# Here are some example usages:
#
# local files relative to this template file (when stored inside phpBB's style directories):
# {% INCLUDEJS 'script.js' %}
# {% INCLUDECSS 'style.css' %}
#
# local files stored inside the Pages extension:
# {% INCLUDEJS '@phpbb_pages/script.js' %}
# {% INCLUDECSS '@phpbb_pages/style.css' %}
#
# hosted on external sites:
# {% INCLUDEJS 'http://code.jquery.com/jquery-migrate-1.2.1.min.js' %}
# {% INCLUDECSS 'https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css' %}
#
#}

{% INCLUDECSS '@phpbb_pages/pages_controller.css' %}
{% include 'overall_header.html' %}

<div class="content pages-content">

	{{ PAGE_CONTENT }}

</div>

{% EVENT phpbb_pages_after_page_content %}

{% include 'overall_footer.html' %}
