{# Use the space below to include external CSS and JS files
# Here are some example usages:
#
# local files relative to this template file (when stored inside phpBB's style directories):
# {% INCLUDEJS 'script.js' %}
# {% INCLUDECSS 'style.css' %}
#
# local files stored inside the Pages extension:
# {% INCLUDEJS '@phpbb_pages/script.js' %}
# {% INCLUDECSS '@phpbb_pages/style.cs's %}
#
# hosted on external sites:
# {% INCLUDEJS 'http://code.jquery.com/jquery-migrate-1.2.1.min.js' %}
# {% INCLUDECSS 'https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css' %}
#
#}

{% INCLUDECSS '@phpbb_pages/pages_controller.css' %}
{% include 'overall_header.html' %}

<table class="tablebg" width="100%" cellspacing="1">
	<tr>
		<th>{{ PAGE_TITLE }}</th>
	</tr>
	<tr>
		<td class="row1">
			<br />
			<div class="gen">{{ PAGE_CONTENT }}</div>
			<br />
		</td>
	</tr>
</table>

{% EVENT phpbb_pages_after_page_content %}

<br clear="all" />

{% include 'breadcrumbs.html' %}

{% include 'overall_footer.html' %}
